<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IyzicoPayment</title>
    <link rel="icon" type="image/png" href="assets/images/favicon.png" sizes="16x16">
    <link rel="stylesheet" href="~/wowdash-admin/assets/css/remixicon.css">
    <link rel="stylesheet" href="~/wowdash-admin/assets/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="~/wowdash-admin/assets/css/lib/apexcharts.css">
    <link rel="stylesheet" href="~/wowdash-admin/assets/css/lib/dataTables.min.css">
    <link rel="stylesheet" href="~/wowdash-admin/assets/css/lib/editor-katex.min.css">
    <link rel="stylesheet" href="~/wowdash-admin/assets/css/lib/editor.atom-one-dark.min.css">
    <link rel="stylesheet" href="~/wowdash-admin/assets/css/lib/editor.quill.snow.css">
    <link rel="stylesheet" href="~/wowdash-admin/assets/css/lib/flatpickr.min.css">
    <link rel="stylesheet" href="~/wowdash-admin/assets/css/lib/full-calendar.css">
    <link rel="stylesheet" href="~/wowdash-admin/assets/css/lib/jquery-jvectormap-2.0.5.css">
    <link rel="stylesheet" href="~/wowdash-admin/assets/css/lib/magnific-popup.css">
    <link rel="stylesheet" href="~/wowdash-admin/assets/css/lib/slick.css">
    <link rel="stylesheet" href="~/wowdash-admin/assets/css/lib/prism.css">
    <link rel="stylesheet" href="~/wowdash-admin/assets/css/lib/file-upload.css">
    <link rel="stylesheet" href="~/wowdash-admin/assets/css/lib/audioplayer.css">
    <link rel="stylesheet" href="~/wowdash-admin/assets/css/style.css">
</head>
<body>

    <main class="dashboard-main">
        <div class="dashboard-main-body">
            <div class="row gy-12">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="mb-4 text-xl">Ödeme Bilgileri</h6>
                            <p class="text-neutral-500">Bilgileri Doldurarak ödemeyi gerçekleştirin</p>

                            <div class="form-wizard">
                                <form id="paymentForm" >
                                    <div class="form-wizard-header overflow-x-auto scroll-sm pb-8 my-32">
                                        <ul class="list-unstyled form-wizard-list">
                                            <li class="form-wizard-list__item active">
                                                <div class="form-wizard-list__line">
                                                    <span class="count">1</span>
                                                </div>
                                                <span class="text text-xs fw-semibold">Kart Bilgileri</span>
                                            </li>
                                            <li class="form-wizard-list__item">
                                                <div class="form-wizard-list__line">
                                                    <span class="count">2</span>
                                                </div>
                                                <span class="text text-xs fw-semibold">Import Data</span>
                                            </li>
                                        </ul>
                                    </div>

                                    <fieldset class="wizard-fieldset show">
                                        <h6 class="text-md text-neutral-500">Kart Bilgileri</h6>
                                        <br />
                                        <div class="row gy-3">
                                            <div class="col-sm-6">
                                                <label class="form-label">Kart Sahibi</label>
                                                <input type="text" class="form-control" name="PaymentCard.CardHolderName" placeholder="">
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-label">Kart Numarası*</label>
                                                <input type="number" class="form-control" name="PaymentCard.CardNumber" placeholder="7309************">
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="form-label">Ay*</label>
                                                <input type="number" class="form-control" name="PaymentCard.ExpireMonth" placeholder="MM">
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="form-label">Yıl*</label>
                                                <input type="number" class="form-control" name="PaymentCard.ExpireYear" placeholder="YY">
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="form-label">CVC*</label>
                                                <input type="number" class="form-control" name="PaymentCard.Cvc" placeholder="***">
                                            </div>
                                            <div class="form-group d-flex align-items-center justify-content-end gap-8">
                                                <a class="form-wizard-next-btn btn btn-primary-600 px-32">Next</a>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="wizard-fieldset">
                                        <h6 class="text-md text-neutral-500">Alıcı Bilgileri</h6>
                                        <br />
                                        <div class="row gy-3">
                                            <div class="col-6">
                                                <label class="form-label">Alıcı Adı*</label>
                                                <input type="text" class="form-control" name="Buyer.Name" placeholder="Ad">
                                            </div>
                                            <div class="col-6">
                                                <label class="form-label">Alıcı Soyadı*</label>
                                                <input type="text" class="form-control" name="Buyer.Surname" placeholder="Soyad">
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-label">Telefon Numarası*</label>
                                                <input type="number" class="form-control" name="Buyer.GsmNumber" placeholder="505*******">
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-label">Mail Adresi*</label>
                                                <input type="email" class="form-control" name="Buyer.Email" placeholder="Mail" required >
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="form-label">Ülke*</label>
                                                <input type="text" class="form-control" name="Buyer.Country" placeholder="Ülke">
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="form-label">Şehir*</label>
                                                <input type="text" class="form-control" name="Buyer.City" placeholder="Şehir">
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="form-label">Posta Kodu*</label>
                                                <input type="number" class="form-control" name="Buyer.ZipCode" placeholder="Posta Kodu">
                                            </div>
                                            <div class="form-group d-flex align-items-center justify-content-end gap-8">
                                                <a class="form-wizard-previous-btn btn btn-neutral-500 border-neutral-100 px-32">Back</a>
                                                <a class="form-wizard-next-btn btn btn-primary-600 px-32">Next</a>
                                            </div>
                                        </div>
                                    </fieldset>


                                    <fieldset class="wizard-fieldset">
                                        <div class="text-center mb-40">
                                            <img src="assets/images/gif/success-img3.gif" alt="" class="gif-image mb-24">
                                            <h6 class="text-md text-neutral-600">İşlemler Tamamlandı</h6>
                                            <p class="text-neutral-400 text-sm mb-0">Gönder Butonuna Basarak Ödemeyi Gerçekleştirebilirsiniz</p>
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-end gap-8">
                                            <a class="form-wizard-previous-btn btn btn-neutral-500 border-neutral-100 px-32">Geri Dön</a>
                                            <button type="button" class="form-wizard-next-btn btn btn-primary-600 px-32" onclick="SendData()">Gönder</button>
                                        </div>
                                    </fieldset>
                                    <div id="resultDiv"></div>
                                </form>

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    @{
        var errorMessage = TempData["ErrorMessage"] as string;
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <script>
            $(document).ready(function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Hata!',
                    text: '@errorMessage',
                    confirmButtonText: 'Tamam'
                });
            });
        </script>
    }


    <script src="~/wowdash-admin/assets/js/lib/jquery-3.7.1.min.js"></script>
    <script src="~/wowdash-admin/assets/js/lib/bootstrap.bundle.min.js"></script>
    <script src="~/wowdash-admin/assets/js/lib/apexcharts.min.js"></script>
    <script src="~/wowdash-admin/assets/js/lib/dataTables.min.js"></script>
    <script src="~/wowdash-admin/assets/js/lib/iconify-icon.min.js"></script>
    <script src="~/wowdash-admin/assets/js/lib/jquery-ui.min.js"></script>
    <script src="~/wowdash-admin/assets/js/lib/jquery-jvectormap-2.0.5.min.js"></script>
    <script src="~/wowdash-admin/assets/js/lib/magnifc-popup.min.js"></script>
    <script src="~/wowdash-admin/assets/js/lib/slick.min.js"></script>
    <script src="~/wowdash-admin/assets/js/lib/prism.js"></script>
    <script src="~/wowdash-admin/assets/js/lib/file-upload.js"></script>
    <script src="~/wowdash-admin/assets/js/lib/audioplayer.js"></script>
    <script src="~/wowdash-admin/assets/js/app.js"></script>
    <script src="~/js/app.js"></script>

    <script>
        $(document).ready(function () {
            // click on next button
            $('.form-wizard-next-btn').on("click", function () {
                var parentFieldset = $(this).parents('.wizard-fieldset');
                var currentActiveStep = $(this).parents('.form-wizard').find('.form-wizard-list .active');
                var next = $(this);
                var nextWizardStep = true;
                parentFieldset.find('.wizard-required').each(function () {
                    var thisValue = $(this).val();

                    if (thisValue == "") {
                        $(this).siblings(".wizard-form-error").show();
                        nextWizardStep = false;
                    }
                    else {
                        $(this).siblings(".wizard-form-error").hide();
                    }
                });
                if (nextWizardStep) {
                    next.parents('.wizard-fieldset').removeClass("show", "400");
                    currentActiveStep.removeClass('active').addClass('activated').next().addClass('active', "400");
                    next.parents('.wizard-fieldset').next('.wizard-fieldset').addClass("show", "400");
                    $(document).find('.wizard-fieldset').each(function () {
                        if ($(this).hasClass('show')) {
                            var formAtrr = $(this).attr('data-tab-content');
                            $(document).find('.form-wizard-list .form-wizard-step-item').each(function () {
                                if ($(this).attr('data-attr') == formAtrr) {
                                    $(this).addClass('active');
                                    var innerWidth = $(this).innerWidth();
                                    var position = $(this).position();
                                    $(document).find('.form-wizard-step-move').css({ "left": position.left, "width": innerWidth });
                                } else {
                                    $(this).removeClass('active');
                                }
                            });
                        }
                    });
                }
            });
            //click on previous button
            $('.form-wizard-previous-btn').on("click", function () {
                var counter = parseInt($(".wizard-counter").text());;
                var prev = $(this);
                var currentActiveStep = $(this).parents('.form-wizard').find('.form-wizard-list .active');
                prev.parents('.wizard-fieldset').removeClass("show", "400");
                prev.parents('.wizard-fieldset').prev('.wizard-fieldset').addClass("show", "400");
                currentActiveStep.removeClass('active').prev().removeClass('activated').addClass('active', "400");
                $(document).find('.wizard-fieldset').each(function () {
                    if ($(this).hasClass('show')) {
                        var formAtrr = $(this).attr('data-tab-content');
                        $(document).find('.form-wizard-list .form-wizard-step-item').each(function () {
                            if ($(this).attr('data-attr') == formAtrr) {
                                $(this).addClass('active');
                                var innerWidth = $(this).innerWidth();
                                var position = $(this).position();
                                $(document).find('.form-wizard-step-move').css({ "left": position.left, "width": innerWidth });
                            } else {
                                $(this).removeClass('active');
                            }
                        });
                    }
                });
            });
            //click on form submit button
            $(document).on("click", ".form-wizard .form-wizard-submit", function () {
                var parentFieldset = $(this).parents('.wizard-fieldset');
                var currentActiveStep = $(this).parents('.form-wizard').find('.form-wizard-list .active');
                parentFieldset.find('.wizard-required').each(function () {
                    var thisValue = $(this).val();
                    if (thisValue == "") {
                        $(this).siblings(".wizard-form-error").show();
                    }
                    else {
                        $(this).siblings(".wizard-form-error").hide();
                    }
                });
            });
            // focus on input field check empty or not
            $(".form-control").on('focus', function () {
                var tmpThis = $(this).val();
                if (tmpThis == '') {
                    $(this).parent().addClass("focus-input");
                }
                else if (tmpThis != '') {
                    $(this).parent().addClass("focus-input");
                }
            }).on('blur', function () {
                var tmpThis = $(this).val();
                if (tmpThis == '') {
                    $(this).parent().removeClass("focus-input");
                    $(this).siblings(".wizard-form-error").show();
                }
                else if (tmpThis != '') {
                    $(this).parent().addClass("focus-input");
                    $(this).siblings(".wizard-form-error").hide();
                }
            });

        });
        // =============================== Wizard Step Js End ================================
    </script>

    



   
</body>
</html>



